{% extends "base.jinja2" %}
{% block head %}
    <title>{{ category }} - missartem.sk</title>
    <meta content="{{ category_info['description'] }}" name="description">
    <meta content="{{ category_info.keywords }}" name="keywords">
{% endblock %}

{% block content %}
    <!-- ======= Main ======= -->
    <main id="main">

    <section class="section">
      <div class="container">
        {% include 'flash_messages.jinja2' %}
        {% if session['username'] %}
            <div class="row mb-5 align-items-center">
                <h3 class="h3">Upload images</h3>
                <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="category" value="{{ category }}">
                    <input type="file" name="photos" accept="image/*" multiple>
                    <input type="submit" value="Upload" class="my_btn">
                </form>
                <form action="{{ url_for('update_description', item_type='category', item_id=category_info._id) }}" method="POST">
                    <input type="text" name="new_description" value="{{ category_info['description'] }}" />
                    <input type="submit" value="Update Description Category" class="my_btn"/>
                </form>
                <form action="{{ url_for('update_keywords', category_id=category_info._id) }}" method="POST">
                    <input type="text" name="new_keywords" value="{{ category_info.keywords }}" />
                    <input type="submit" value="Update Keywords" class="my_btn"/>
                </form>
            </div>
        {% endif %}
        <div class="row mb-4 align-items-center">
          <div class="col-md-6" data-aos="fade-up">
            <h2>{{ category|title }}</h2>

            <p>{{ category_info['description'] }}</p>
          </div>
        </div>
      </div>

      <div class="site-section pb-0 mb-5">
        <div class="container">
          <div class="row align-items-stretch">
            <div class="col-md-8" data-aos="fade-up">
                {% if cover_image %}
                    <img class="img-fluid" src="{{ url_for('serve_uploads', sub_path=category+'/compressed/'+cover_image) }}">
                {% else %}
                    <img class="img-fluid" src="/static/assets/img/No_Image_Available.jpg">
                {% endif %}
            </div>
            <div class="col-md-3 ml-auto" data-aos="fade-up" data-aos-delay="100">
              <div class="sticky-content">
                <h3 class="h3">{{ category|title }}</h3>
                <p class="mb-4"><span class="text-muted">{{ images|length }} pictures in this album</span></p>
                <div class="mb-5">
                    {% if category_info['created_at'] %}
                        <p>Created at: {{ category_info['created_at'].strftime('%d.%m.%Y %H:%M:%S') }}</p>
                    {% endif %}
                    {% if category_info['updated_at'] %}
                        <p>Updated at: {{ category_info['updated_at'].strftime('%d.%m.%Y %H:%M:%S') }}</p>
                    {% endif %}
                  {# <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores illo, id recusandae molestias
                    illum unde pariatur, enim tempora.</p>  #}
                </div>
                {#
                <h4 class="h4 mb-3">What I did</h4>
                <ul class="list-unstyled list-line mb-5">
                  <li>Design</li>
                  <li>HTML5/CSS3</li>
                  <li>CMS</li>
                  <li>Logo</li>
                </ul>
                 #}
                <p><a href="{{ url_for('download_category', category=category) }}" class="readmore"><span class="bi bi-download"></span> Download all images</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
            {% for image in images %}
            <div class="item {# web #} col-sm-6 col-md-4 col-lg-4 mb-4">
              <a href="{{ url_for('serve_uploads', sub_path=category+'/compressed/'+image.filename) }}" class="item-wrap image-popup" data-source="{{ url_for('serve_original_uploads', sub_path=category+'/original/'+image.filename) }}" data-gallery="gallery1">
                <div class="work-info">
                  <span>{{ image.description }}</span>
                  {% if session['username'] %}
                      <!-- Form to update photo name -->
                      <form action="{{ url_for('update_description', item_type='image', item_id=image._id) }}" method="POST" class="description-forms" onclick="event.stopPropagation();">
                        <input type="text" name="new_description" value="{{ image.description }}"/>
                        <input type="submit" value="Update Description" class="my_btn"/>
                      </form>
                  {% else %}
                      {# <span>{{ image.description }}</span> #}
                  {% endif %}
                </div>
                <img class="img-fluid" src="{{ url_for('serve_uploads', sub_path=category+'/compressed/'+image.filename) }}" alt="{{ image.description }}">
              </a>
              {% if session['username'] %}
                  <!-- Form to delete the image -->
                  <form action="{{ url_for('delete_image', image_id=image._id) }}" method="POST" class="delete-button" onclick="event.stopPropagation();">
                    <input type="submit" value="x" class="mfp-close">
                  </form>
                  <a href="{{ url_for('set_cover_image', category_name=category, image_name=image.filename) }}">Set as cover {{ image.description }}</a>
              {% endif %}
            </div>
            {% endfor %}
        </div>
      </div>
    </section>

    {#
    <!-- ======= Testimonials Section ======= -->
    <section class="section pt-0">
      <div class="container">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial">
                  <img src="assets/img/person_1.jpg" alt="Image" class="img-fluid">
                  <blockquote>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus incidunt ut officiis
                      explicabo inventore.</p>
                  </blockquote>
                  <p>&mdash; Jean Hicks</p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial">
                  <img src="assets/img/person_2.jpg" alt="Image" class="img-fluid">
                  <blockquote>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus incidunt ut officiis
                      explicabo inventore.</p>
                  </blockquote>
                  <p>&mdash; Chris Stanworth</p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->  #}

  </main><!-- End Main Section -->
{% endblock %}
{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          // Get all inputs within the anchor tag but exclude the submit buttons
          var inputs = document.querySelectorAll('a .description-forms input[type=text]');

          // Add event listener to each input
          inputs.forEach(function(input) {
            input.addEventListener('click', function(event) {
              // This will prevent the magnific popup event
              event.preventDefault();
              // This will prevent the event from bubbling up to the anchor tag
              event.stopPropagation();
            });
          });
        });

        $(document).ready(function() {
            $('.image-popup').magnificPopup({
                type: 'image',
                closeOnContentClick: false,
                mainClass: 'mfp-img-mobile',
                image: {
                    verticalFit: true,
                    titleSrc: function(item) {
                        var imgAlt = item.el.find('img').attr('alt');
                        return imgAlt + ' &middot; <a class="image-source-link" href="'+item.el.attr('data-source')+'" target="_blank">View original</a>';
                    }
                },
                gallery: {
                    enabled: true
                }
            });
        });
    </script>
{% endblock %}
