{% extends "base.jinja2" %}

{% block content %}
    <main id="main">
    {% include 'flash_messages.jinja2' %}
    <section class="section">
        <div class="container">
        <h1>Change Password</h1>
        <form action="{{ url_for('private.change_password') }}" method="POST">
            <label for="old_password">Old Password:</label><br>
            <input type="password" id="old_password" name="old_password" required><br>

            <label for="new_password">New Password:</label><br>
            <input type="password" id="new_password" name="new_password" required><br>

            <label for="confirm_password">Confirm New Password:</label><br>
            <input type="password" id="confirm_password" name="confirm_password" required><br><br>

            <input type="submit" value="Change Password" class="my_btn">
        </form>
        </div>
    </section>
    </main>
{% endblock %}
